<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Ficha Inscrição {{ codinscricao }}</title>

        <style>
            body {
                background-color: #ffffff;
                font-size: 12px;
            }
            h4, h5 {
                text-align: center;
            }

            table {
                width: 100%;
                border: 1px solid;
            }

            .assinatura {
                width: 100%;
                border: 0px;
            }

            .dadospessoais th {
                width: 40%;
            }

            .assinatura td {
                text-align: center;
            }

            .notas {
                text-align: center;
                width: 100%;
            }

            .matriculado {
                height: 45px;
            }
        </style>
    </head>
    <body>
        <h4 align="center">Instituto Federal de Educação, Ciência e Tecnologia de Rondônia</h4>
        <h4 class="center"><i>Campus</i> Avançado São Miguel do Guaporé</h4>
        <h5 class="center">Processo Seletivo Especial 2019/2</h5>
        <h5 class="center">Ficha Inscrição nº {{ codinscricao }}</h5>
        <table class="dadospessoais">
            <tr>
                <th>Nome Candidato</th>
                <td>{{ dados.nomecandidato.upper }}</td>
            </tr>
           <tr>
                <th>CPF Candidato</th>
                <td>{{ dados.cpfcandidato }}</td>
            </tr>
           <tr>
                <th>Data Nascimento</th>
                <td>{{ dados.datanascimento }}</td>
            </tr>
           <tr>
                <th>Endereço Completo</th>
                <td>{{ dados.endereco.upper }}</td>
            </tr>
           <tr>
                <th>Bairro</th>
                <td>{{ dados.endereco_bairro.upper }}</td>
            </tr>
           <tr>
                <th>Cidade / Estado</th>
                <td>{{ dados.endereco_cidade.upper }} / RO</td>
            </tr>
           <tr>
                <th>E-mail</th>
                <td>{{ dados.email.lower }}</td>
            </tr>
           <tr>
                <th>Documento de Identificação</th>
                <td>{{ dados.docidentificacao }} - {{ dados.docidentificacao_emissor.upper }}</td>
            </tr>
           <tr>
                <th>Nome do Pai</th>
                <td>{{ dados.nomepai.upper }}</td>
            </tr>
           <tr>
                <th>Nome da Mãe</th>
                <td>{{ dados.nomemae.upper }}</td>
            </tr>
           <tr>
                <th>Nome do Responsável</th>
                <td>{{ dados.nomeresponsavel.upper }}</td>
            </tr>
           <tr>
                <th>CPF do Responsável</th>
                <td>{{ dados.cpfresponsavel }}</td>
            </tr>
        </table>
        <br>
        <p>O candidato declara estar ciente que está concorrendo a vagas como <b>{{ dados.opcaoinscricao }}</b> de acordo com a descrição do edital.</p>
        <p>Declara ainda que está matriculado no 1º ano do Ensino Médio Regular e que as notas informadas para participar do processo seletivo são:</p>
        {% if dados.em_7_portugues != 0 and dados.em_7_ciencias != 0 and dados.em_7_geografia != 0 and dados.em_7_matematica != 0 %}
           <table class="notas">
                <tr>
                    <th></th>
                    <th>Portugês</th>
                    <th>Matemática</th>
                    <th>Geografia</th>
                    <th>História</th>
                    <th>Ciências</th>
                </tr>
               <tr>
                    <td>7º</td>
                    <td>{{ dados.em_7_portugues }}</td>
                    <td>{{ dados.em_7_matematica }}</td>
                    <td>{{ dados.em_7_geografia }}</td>
                    <td>{{ dados.em_7_historia }}</td>
                    <td>{{ dados.em_7_ciencias }}</td>
                </tr>
               <tr>
                    <td>8º</td>
                    <td>{{ dados.em_8_portugues }}</td>
                    <td>{{ dados.em_8_matematica }}</td>
                    <td>{{ dados.em_8_geografia }}</td>
                    <td>{{ dados.em_8_historia }}</td>
                    <td>{{ dados.em_8_ciencias }}</td>
                </tr>
               <tr>
                    <td>9º</td>
                    <td>{{ dados.em_9_portugues }}</td>
                    <td>{{ dados.em_9_matematica }}</td>
                    <td>{{ dados.em_9_geografia }}</td>
                    <td>{{ dados.em_9_historia }}</td>
                    <td>{{ dados.em_9_ciencias }}</td>
                </tr>
           </table>
        {% endif %}

        {% if dados.provao_ciencias != 0 and dados.provao_matematica != 0 and dados.provao_geografia != 0 %}
            <p>Provão Português: {{ dados.provao_portugues }}</p>
        {% endif %}

        {% if dados.encceja_ciencias != 0 and dados.encceja_matematica != 0 and dados.encceja_portugues != 0 %}
            <p>ENCCEJA Portugês: {{ dados.encceja_portugues }}</p>
            <p>ENCCEJA Matemática: {{ dados.encceja_matematica }}</p>
            <p>ENCCEJA Ciências: {{ dados.encceja_ciencias }}</p>
            <p>ENCCEJA Geografia: {{ dados.encceja_geografia }}</p>
            <p>ENCCEJA História: {{ dados.encceja_historia }}</p>
        {% endif %}

        {% if dados.enem_linguagens != 0 and dados.enem_matematica != 0 %}
            <p>ENEM - Linguagens: {{ dados.enem_linguagens }}</p>
        {% endif %}

        {% if dados.outros_geografia != 0 and dados.outros_portugues != 0 and dados.outros_matematica != 0 %}
            <p>Outros - Português: {{ dados.outros_portugues }}</p>
        {% endif %}

        <p>E que a média que será utilizada para classificação no processo seletivo será: {{ dados.media }}</p>

        <br><br>

        <table class="assinatura">
            <tr>
            <td class="col s5 center">____________________________________</td>
            <td class="col s2"></td>
            <td class="col s5 center">____________________________________</td>
            </tr>
        </table>

        <table  class="assinatura">
            <tr>
            <td class="col s5 center">Assinatura do Responsável</td>
            <td class="col s2"></td>
            <td class="col s5 center">Assinatura do Candidato</td>
            </tr>
        </table>
        <br><br>
        <hr>

        <h5><b>Procolo de Inscrição – Processo Seletivo Especial 2019/1 – Campus Avançado São Miguel do Guaporé</b></h5>
        <div class="row">
            <div class="col s6">Ficha nº {{ dados.id }}</div>
            <div class="col s6"> Opção de vaga: {{ dados.opcaoinscricao }}</div>
        </div>
        <div class="col s6">Nome Candidato: {{ dados.nomecandidato }}</div>
        <br>
        <table>
            <tr class="matriculado">
                <td>Responsável pela Incrição: {{ user.username }}</td>
                <td>_________________________________</td>
            </tr>
        </table>

    </body>

</html>